*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html{
 width: fit-content;
 height: fit-content;
}

body{
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  }


/*HRADER*/
.logo-box{
  text-align: center;
  padding: 20px;
}

.logo{
  width: min(50%, 300px);
}

.navigation{
  height: 50px;
  padding: 10px;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
  font-weight: 600;
}

.navigation a{
  text-decoration: none;
  color:#2a5c17;
}

.navigation li{
  font-size: clamp(0.52rem, calc(0.38rem + 0.71vw), 1.00rem);
}

.navigation li:hover{
  border-bottom: 3px solid green;
}

  /*BACKGROUND IMAGE*/

  .container-image {
    max-width: 100%;
    height: 100vh;
    position: relative;
  }

  .container-image::after {
    content: "";
    position: absolute;
    background-image: url(./Image1/arrows.png);
    height:100vh;
    inset: 0;
    z-index: -1;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blockquote{
    max-width: 100%;
    width: min(60%, 590px);
    height: min(fit, 100px);
    background-color: #2FC12C;
    margin: 150px 80px;
    border-radius: 20px;
  }

  .blockquote p{
    font-size: clamp(0.63rem, calc(0.38rem + 1.36vw), 0.88rem);
    padding: 10px 10px;
    line-height: 1.3;
    color: white;
  }


  /*Squares*/

.squares{
  max-width:100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
  bottom: 100px;
  flex-wrap: wrap;
}

.square1 img,
.square2 img,
.square3 img{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}

.square1 h5{
  color:#2FC12C;
  margin-bottom: 10px;
  
}

.square2 h5{
  color:white;
  margin-bottom: 10px;
  
}

.square3 h5{
  margin-bottom: 10px;
}

  .square1{
    width: min(70%, 450px);
    height: min(fit, 320px);
    background-color: #FFFDFD;
    margin: 10px 20px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    
  }


  .square2{
    width: min(70%, 450px);
    height: min(fit, 320px);
    background-color: #9CBA8F;
    margin: 10px 20px;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  }

  .square3{
    width: min(70%, 450px);
    height: min(fit, 320px);
    background-color: rgb(36, 34, 34);
    color: white;
    margin: 10px 20px;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  }

  .square1 p,
  .square2 p,
  .square3 p{
  font-size: clamp(0.52rem, calc(0.43rem + 0.93vw), 0.90rem);
  padding: 5px;
  }

  /*CONTAINER1*/
  

  .container1{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    background-color: #F5F5F5;
  }

   .container-img{
    margin: auto;
    justify-content: center;
    text-align: center;
    width: min(70%, 650px);
    padding: 20px 0;
  } 

   .img1{
   object-fit: cover;
    width:min(70%, 400px);
    border-radius: 50%;
    position: relative;
    top: 25px;
    z-index: 1;
    right: 50px;
  }

  .img2{
    object-fit: cover;           
    width:min(70%, 400px);
    border-radius: 50%;
    z-index: 2;
    position: relative;
    left: 60px;
    bottom: 55px;

  } 


    .obligation{
      align-self: center;
      white-space: pre-wrap;
      margin: auto;
     width: min(70%, 850px);
     text-align: justify;
    }

    .obligation img{
      width: 75px;
      height: 75px;
      display: flex;
      margin: auto;
    }

    .obligation h2{
      text-align: center;
      font-size: clamp(0.75rem, calc(0.60rem + 1.62vw), 1.41rem);
      
    }

    .people{
      color:#2FC12C;
      font-weight: bold;
      text-align: end;
    }

    .obligation p{
      font-size:clamp(0.63rem, calc(0.51rem + 1.23vw), 1.13rem);
    }


    /*CONTAINER2*/
    .container2{
       height: 100%;
        display: flex;
        background-color: 
        #A2A89F;
        margin-top: 35px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: relative;
      }

      .cycle {
        width: min(60%, 659px);
      }

    .asside1{
      font-size: clamp(0.63rem, calc(0.51rem + 1.23vw), 1.13rem);
      margin: 20px;
      align-self: center;
    }

    .asside1 h2,
    .asside1 img{
      text-align: center;
    }

    section{
      column-count: 2;
      column-gap: 4rem;
      padding: 20px;
      line-height: 1.6;
      }

    .asside1 img{
      width: 75px;
      height: 75px;
      display: flex;
      margin: auto;

    }

    .contact-banner{
      display: flex;
      background-color: white;
      width:min(100%, 520px);
      font-size: clamp(0.63rem, calc(0.51rem + 1.23vw), 1.13rem);
      align-items: center;
      border-radius: 10px;
      padding: 10px;
      margin: auto;
    }

    .contact-banner img{
      width: min(40%, 80px);
      padding: 10px;
      margin: 0 10px;
    }

    .contact-banner a{
      text-decoration: none;
      font-weight: bold;
    }

      /*FOOTER*/
  footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 2rem;
    font-size: smaller;
    padding-left: 10px;
  }

  